<% if (messages.error) { %>
<span
  class="text-red-500 font-normal text-center w-full bg-red-50 border-2 rounded-md border-red-300 py-1 text-base font-sans dark:bg-transparent dark:border-red-600"
  ><%= messages.error %>
</span>
<% } %>
