<% if (messages.success) { %>
<section
  class="alert-message fixed w-max bottom-20 left-[50%] hidden translate-x-[-50%] z-50 bg-white shadow-lg shadow-gray-300 text-black text-sm px-4 py-2 font-normal rounded-md font-sans dark:bg-gray-800 dark:shadow-gray-900 dark:text-white"
>
  <%= messages.success %>
</section>
<% } %>
