<nav
  class="fixed bottom-0 flex h-12 bg-purple-900 w-full justify-between items-center px-4 z-30 dark:bg-gray-900 navbar"
>
  <a
    href="/"
    class="text-xs font-normal flex flex-col items-center justify-center leading-[10px] text-white font-sans dark:text-gray-400"
  >
    <ion-icon
      name="home-outline"
      class="text-white text-xl dark:text-gray-500"
    ></ion-icon>
    Home
  </a>
  <a
    href="/add/confession"
    class="text-xs font-normal flex flex-col items-center justify-center leading-[10px] text-white font-sans dark:text-gray-400"
    ><ion-icon
      name="add-circle-outline"
      class="text-white text-xl dark:text-gray-500"
    ></ion-icon>
    Add Confession
  </a>
  <a
    href="/notification"
    class="text-xs font-normal flex flex-col items-center justify-center leading-[10px] text-white font-sans dark:text-gray-400"
  >
    <ion-icon
      name="notifications-outline"
      class="text-white text-xl dark:text-gray-500"
    ></ion-icon>
    Notifications
  </a>
  <a
    href="/profile"
    class="text-xs font-normal flex flex-col items-center justify-center leading-[10px] text-white font-sans dark:text-gray-400"
  >
    <ion-icon
      name="person-circle-outline"
      class="text-white text-xl dark:text-gray-500"
    ></ion-icon>
    Profile
  </a>
  <a
    id="menuBtn"
    class="text-xs font-normal flex flex-col items-center justify-center leading-[10px] text-white font-sans dark:text-gray-400 cursor-pointer"
  >
    <ion-icon
      name="grid-outline"
      class="text-white text-xl dark:text-gray-500"
      id="menuBtn"
    ></ion-icon>
    Menu
  </a>
</nav>
