<%- include('layouts/head') %> 
<body>
    <%- include("layouts/navbar") %> 
    <%- include("layouts/menu") %> 
    <section class="h-screen bg-white flex flex-col gap-2 items-center justify-start py-4 notification-area">
        <div class="w-full h-full flex items-center justify-center flex-col">
            <img src="/images/maintenance.svg" alt="maintenance" class="h-72 mb-4">
           <p class="text-gray-600 font-semibold text-xl">Hang on! We are working on this page.</p>
        </div>
    </section>
    <%- include('layouts/scripts') %>
</body>
</html>